<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'pettypes')}">

<body>

  <h2 th:if="${petType.new}">New Pet Type</h2>
  <h2 th:unless="${petType.new}">Edit Pet Type</h2>

  <form th:object="${petType}" class="form-horizontal" method="post"
    th:action="${petType.new} ? @{/pettypes/new} : @{/pettypes/{id}/edit(id=${petType.id})}">
    <div class="form-group has-feedback">
      <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${petType['new']} ? 'Add Pet Type' : 'Update Pet Type'"
          class="btn btn-primary" type="submit" th:text="${text}">Add Pet Type</button>
      </div>
    </div>
  </form>

</body>

</html>
